nav.bg-navbar, footer.bg-footer {
    background-color: #e3f2fd;
}

.nav-item a:hover {
    border-bottom: 2px solid lightseagreen; 
}

.nav-item > a.active {
	border-bottom: 2px solid lightseagreen; 
}

.parallax {
    /* The image used */
    background-image: url('../img/banner-02.jpg');
    /*background: linear-gradient(to left, #000000, #434343);*/
    
    /* Full height */
    height: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 6em;
    padding-bottom: 13em;
}

.parallax-secundaria {
    /* The image used */
    background-image: url('../img/banner-02.jpg');
    /*background: linear-gradient(to left, #000000, #434343);*/

    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 4em;
    padding-bottom: 0.5em;
}

.card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.separador {
    border: 2px solid lightseagreen;
    border-radius: 10px;
    width: 5%;
}

@keyframes animatezoom {
    from {
        transform:scale(0)
    } 
    to {
        transform:scale(1)
    }
}

iframe{
    width: 600px;
    height: 450px;
}


/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
    iframe{
        width: 100%;
        height: 450px;
    }

    .responsive-mb-2{
        margin-bottom: 5px;
    }

    .responsive-control-md{
        height: calc(1.8125rem + 2px);
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    .responsive-h1{
        font-size: 1.50rem;
    }

    .responsive-img {
        width: 100%;
        height: 200px;
    }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    iframe{
        width: 100%;
        height: 450px;
    }

    .responsive-mb-2{
        margin-bottom: 5px;
    }

    .responsive-control-md{
        height: calc(1.8125rem + 2px);
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }

    .responsive-h1{
        font-size: 1.50rem;
    }

    .responsive-img {
        width: 100%;
        height: 200px;
    }
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    iframe{
        width: 100%;
        height: 450px;
    }

    .responsive-mb-2{
        margin-bottom: 5px;
    }

    .responsive-img {
        width: 100%;
        height: 200px;
    }

}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    iframe{
        width: 100%;
        height: 450px;
    }

    .responsive-img {
        width: 90%;
        height: 250px;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
    .responsive-img {
        width: 90%;
        height: 250px;
    }
}